doctype html
html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Desafio 333 · Agosto · SASS
        link(rel='icon' href='../../assets/avatar.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Baloo&display=swap')
        link(rel='stylesheet' href='./sass/index.sass')
    body
        .device
            .screen
                .image
                    main
                        .hashtag='#DESAFIO333'
                        .logo
                            img(src='../../assets/avatar.png')
                        video(autoplay muted loop)
                            source(src='./video/lisa-president.mp4' type='video/mp4')
                        .news
                            .subtitle='Lisa Simpson'
                            .title='First yellow president of history'
                            .footer
                                .logo
                                    img(src='../../assets/avatar.png')
                                .last-news
                                    .text='NASA on Musk tweet: We have at least 100 years before next Earth-shattering asteroid    ▪    Deleted Twitter account may signal provocative change in China\'s targeting of US    ▪    Venezuela\'s \'bloody gold\' leaves trail of corruption that leads to Maduro\'s doorstep'
                                .clock='18:18'
            .buttons
                a(href='#')
                a(href='#')
                a(href='#')